@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */

/* Headings
-------------------------------------------------------------- */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}

.h1 {
  font-size: 3em;
}
.h2 {
  font-size: 2em;
}
.h3 {
  font-size: 1.5em;
}
.h4 {
  font-size: 1.2em;
}
.h5 {
  font-size: 1em;
}
.h6 {
  font-size: 1em;
}

/* Text elements
-------------------------------------------------------------- */

.blockquote {
  margin: 1.5em;
  font-style: italic;
}
.strong {
  font-weight: bold;
}
.em,
.dfn {
  font-style: italic;
}
.dfn {
  font-weight: bold;
}
.sup,
.sub {
  line-height: 0;
}

.abbr,
.acronym {
  border-bottom: 1px dotted #666;
}
.address {
  margin: 0 0 1.5em;
  font-style: italic;
}
.del {
  color: #666;
}

.pre {
  margin: 1.5em 0;
  white-space: pre;
}
.pre,
.code,
.tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

@layer components {
  .btn-contained {
    @apply py-2 px-4  font-semibold rounded-lg shadow-md  focus:outline-none focus:ring-2 focus:ring-opacity-75 ease-in-out duration-200;
  }
  .btn-outline {
    @apply py-2 px-4 outline outline-1 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2  focus:ring-opacity-75 ease-in-out duration-200;
  }

  .btn-contained-primary {
    @apply bg-primary hover:bg-primary-600 focus:ring-primary;
  }
  .btn-contained-light {
    @apply bg-light hover:bg-light-600 focus:ring-light;
  }
  .btn-outline-primary {
    @apply outline-primary hover:bg-primary/40  focus:ring-primary;
  }
  .btn-outline-light {
    @apply outline-light hover:bg-light/40  focus:ring-light;
  }
  .Chip {
    @apply p-1 px-2 rounded-2xl  bg-dark/20 dark:bg-light/20;
  }
  .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
  .Card {
    @apply block shadow border overflow-hidden rounded-lg bg-neutral-100 hover:bg-neutral-200 border-neutral-300 dark:bg-dark-600 dark:border-dark-300 dark:hover:bg-dark-400 ease-in-out duration-100;
  }
  .Divider {
    @apply w-full bg-slate-300 dark:bg-dark-300 h-[2px]
  }

}

@layer base {
  .default-theme {
    @apply bg-background dark:bg-dark-600 text-dark-800 dark:text-light-100;
  }
  .grid-auto-sm {
    @apply grid-cols-[repeat(auto-fill,minmax(240px,1fr))] auto-rows-auto;
  }
   .grid-auto-md {
    @apply grid-cols-[repeat(auto-fill,minmax(380px,1fr))] auto-rows-auto;
  }
     .grid-auto-lg {
    @apply grid-cols-[repeat(auto-fill,minmax(640px,1fr))] auto-rows-auto;
  }
     .grid-auto-xl {
    @apply grid-cols-[repeat(auto-fill,minmax(768px,1fr))] auto-rows-auto;
  }

  .Link-text{
     @apply  hover:text-accent-800 dark:hover:text-accent-200 w-fit  ease-in-out duration-100;
  }

}
